body {
  background-color: #f4f6f9;
  font-family: "Inter", system-ui, sans-serif;
}

.card {
  border-radius: 12px;
}

.navbar-brand {
  letter-spacing: 0.5px;
}

.table th {
  background-color: #f1f3f5;
  font-weight: 600;
}

.badge {
  font-size: 0.8rem;
}

textarea {
  resize: vertical;
}
footer {
  align-items: end;
  font-size: 1rem;
}

.nav-link {
  cursor: pointer;
}
